body {
  background-color: #696766;
  color: #fff;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

#header {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

#tap_text {
    text-align: center;
}

.caption {
    color: lightgray;
    text-align: center;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}

.center_simage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  border: 1px solid DodgerBlue;
}
