body {
  background-color: #696766;
  color: lightgray;
  font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
}

#header {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

#tap_text {
    text-align: center;
    display: block;
    padding-bottom: 20px;
}

#github {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-right: 20px;
  float: right;
}

.caption {
    color: lightblue;
    text-align: center;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}

.center_simage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  border: 1px solid DodgerBlue;
}

